Notes:
- VisionEval.cnf for Autonomous Vehicles VERSPM (single stage)
- Model Structural Parameters: ScriptsDir, InputDir, ParamDir, GeoFile, ModelParamFile
- Model Description: Model, Region, State
- Scenario Description (single stage): Scenario, Description, BaseYear, Years

# Model Structural Parameters
ModelScript    : run_av.R
Scenario       : VERSPM RVMPO AV Future
Description    : Future 2038
BaseYear       : 2010
Years          : [2038]
StartFrom      : av-base2
