# Next Generation test model for MultiModal module
# reproduces "base" VERSPM from VEModel, but provides alternate run script
# to exercise the MultiModal features.
VERSPM:
  variants:
    av-pop:
      description: VERSPM 3.0 with Autonomous Vehicle module
      config: visioneval-av-pop.cnf
      scripts: scripts
      inputs: inputs
      defs: defs
      stages: # copied as they are
          - assign-drivers
    av-base:
      description: VERSPM 3.0 with Autonomous Vehicle module
      config: visioneval-av-base.cnf
      scripts: scripts
      inputs: inputs
      defs: defs
      stages: # copied as they are
          - assign-drivers
          - av-base
    av-future:
      description: VERSPM 3.0 with Autonomous Vehicle module
      config: visioneval-av-future.cnf
      scripts: scripts
      inputs: inputs
      defs: defs
      stages: # copied as they are
          - av-base2
          - av-future
